<label>Enter address to act as an email alias
  <input class="focus" id="alias-1" name="alias-1" type="email" placeholder="foobruin@ucla.edu" title="Enter email alias" required>
  {{#ifpage 'manage-bol-add-error'}}
  <span class="form-error is-visible">This doesn't look like a valid email address.</span>
  {{/ifpage}}
</label>

<label>Confirm address to set up as alias
  <input class="focus" id="alias-2" name="alias-2" type="email" placeholder="foobruin@ucla.edu" data-equalto="e1" title="Re-enter email alias" required>
  {{#ifpage 'manage-bol-add-error'}}
  <span class="form-error is-visible">This doesn't look like a valid email address and/or doesn't match the one above.</span>
  {{/ifpage}}
</label>
